@mixin shineAnimation {
  animation: shine 0.5s forwards;
}

@mixin moveUp {
  animation: moveUp 0.5s forwards ease-in;
}

@mixin moveUpSm {
  animation: moveUpSm 0.5s forwards ease-in;
}

@mixin moveDown {
  animation: moveDown 0.5s forwards ease-in;
}

@mixin moveDownSm {
  animation: moveDownSm 0.5s forwards ease-in;
}

@mixin moveDownFast {
  animation: moveDownSm 0.2s forwards ease-in;
}

@mixin moveLeft {
  animation: moveLeft 0.5s forwards ease-in;
}

@mixin moveRight {
  animation: moveRight 0.5s forwards ease-in;
}

@keyframes shine {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveUp {
  from {
    opacity: 0;
    transform: translateY(20vh);
  }
  to {
    opacity: 1;
    transform: translateY(0vh);
  }
}

@keyframes moveUpSm {
  from {
    opacity: 0;
    transform: translateY(2vh);
  }
  to {
    opacity: 1;
    transform: translateY(0vh);
  }
}

@keyframes moveDown {
  from {
    opacity: 0;
    transform: translateY(-20vh);
  }
  to {
    opacity: 1;
    transform: translateY(0vh);
  }
}

@keyframes moveDownSm {
  from {
    opacity: 0;
    transform: translateY(-2vh);
  }
  to {
    opacity: 1;
    transform: translateY(0vh);
  }
}
