@import "../stylings/BaseStyle.module.scss";
@import "../stylings/BaseAnimations.scss";

.body {
  @include baseBody;
  @include shineAnimation;
  overflow: hidden;
}

.grid12 {
  @include baseGrid12;
  flex-direction: column;
  align-items: center;
}

.table {
  margin-top: 2vh;
  width: 80vw;
  background-color: #2f2f2f5f;
}

.table thead tr {
  height: 10vh;
  background-color: #1a1a1a;
  width: 100%;
  display: flex;
  flex-direction: row;
  @include shineAnimation;
}
.table thead tr td {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13.333vw;
  color: $COLOR_GOLD;
  border: 1px solid #1f1e1e92;
  font-size: 17px;
}

.table tbody {
  display: block; /* Change from flex to block */
  min-height: 40vh;
  max-height: 75vh; /* Modify the height if needed */
  overflow-y: auto;
}

table tbody tr :nth-child(even) {
  background-color: rgba(29, 29, 29, 0.801);
}

table thead tr :nth-child(odd) {
  background-color: #1d1d1de3;
}

.table tbody tr {
  box-sizing: border-box;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  transition: 500ms;
  @include moveUpSm;
}
.table tbody td {
  @include moveUpSm;
  height: 100%;
  width: 13.333vw;
  border: 1px solid #1f1e1e92;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $P_COLOR;
  cursor: pointer;
  transition: 500ms;
}

.table tbody tr:hover {
  background-color: #1a1a1a;
}

.percantage {
  font-size: 0.9em;
  margin-left: 7px;
  bottom: 0px;
}