@import "../stylings/BaseStyle.module.scss";
@import "../pages/Login.module.scss";

.nav {
  box-sizing: border-box;
  width: 100vw;
  background-color: #2b2b2b;
  @include baseGrid12;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
}

.leftContainer {
  cursor: pointer;
}

.icon {
  margin-left: 1.5vw;
}

.mainTitle {
  color: $P_COLOR;
  margin-left: 0.5vw;
  font-size: 20px;
  letter-spacing: 1.5px;
}

.name {
  font-size: 20px;
  color: $P_COLOR;
}

.username {
  font-size: 15px;
  color: #afabab;
}
