* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
}

::placeholder {
  color: #afafaf;
}

::-webkit-scrollbar {
  background-color: black;
  width: 0.5vw;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(75, 75, 75, 0.533);
}
